    div.static {
  position: static;
  border: 3px solid #80ff87;
}
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #ff5050;
}
div.fixed {
  position: fixed;
  bottom: 0;
  right: -10;
  width: 200px;
  border: 3px solid #80ff87;
}
div.fixed2 {
  position: fixed;
  bottom: 30;
  right: -10;
  width: 200px;
  border: 3px solid #80ff87;
}
div.fixed3 {
  position: fixed;
  bottom: 50;
  right: -10;
  width: 200px;
  border: 3px solid #80ff87;
}
div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #ff5050;
}
div.sticky {
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}
body {
  height: 200vh;
}